body {
  font-family: 'Libre Baskerville', serif;
  background-color: #f5f5dc;
  color: #2c2c2c;
  margin: 0;
  padding: 20px;
  background-image: url('../assets/fondo\ mapa.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header{
  background-color: #343a40;
  color: white;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
    width: 50px; 
    height: auto;
    margin: 0 10px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }


#search {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  width: 80%;
  font-size: 1.2em;
  border: 2px solid #4b2e83;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #4b2e83;
  text-shadow: 2px 2px 5px #9b6d4d;
  margin-bottom: 20px;
}

.varita {
  border: 2px solid #4b2e83;
  border-radius: 10px;
  background-color: #fff8e7;
  margin: 10px;
  padding: 15px;
  width: 180px;
  text-align: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}


.varita img {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 10px;

}

.varita div {
  flex-grow: 1;

}

.varita ul {

  list-style: none;
  padding: 0;
}

.varita div {
  flex-grow: 1;
}

.varita h2 {
  margin-top: 0;
}

.varita ul li {
  margin-bottom: 5px;
}

#varita-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

#musicahp {
    
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  z-index: 1000;
  
}

#musicahp audio {
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;
}

 /*RESPOSIVE TABLET*/
@media (max-width: 880px) {
  #varita-info {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .varita img {
    max-width: 120px;
  }

  #musicahp {
    display: none;
}
}

/*RESPONSIVE CELULAR*/

@media (max-width:480px) {
  header {
    flex-direction: column;
  }

  input {
    width: 90%;
    margin: 10px 0;
  }

  #varita-info {
    grid-template-columns: 1fr;

  }

  .varita {
    flex-direction: column;
    align-items: flex-start;
  }

  .varita img {
    max-width: 100px;
    margin: 0 0 10px 0 ;

  }

  .varita div {
    flex-grow: 1;
    width: 100%;
  }

  #musicahp {
    display: none;
}


}


